/* FONT IMPORTS */
/* FONT IMPORTS */
@font-face {
  font-family: 'League Spartan';
  src: url(../fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: 'Playlist Script';
  src: url(../fonts/Playlist\ Script.otf);
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: 'Cheque';
  src: url(../fonts/Cheque-Regular.otf);
}

@font-face {
  font-family: 'Cheque Black';
  src: url(../fonts/Cheque-Black.otf);
}

@font-face {
  font-family: 'Fabrica';
  src: url(../fonts/Fabrica.otf);
}

@font-face {
  font-family: 'Alex Brush';
  src: url(../fonts/AlexBrush-Regular.ttf);
}


/* General Styles */
*{
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FDECD5;
  padding-bottom: 4vw;
  /* background-image: linear-gradient(to bottom, #B0B4ED 20%, #3a3f7c 100%); */
}

.background { 
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
}

/* Header Buttons */
.header{
  display: flex;
  flex-direction: row;
  height: 1.5vw;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: right;
  top: 0px;
  z-index: 10;
  position: absolute;
  /* background-color: #6F75C6; */
  padding: 1.4vw 0px;
  background-color: #FDECD5;
  /* border: #C6AC89;
  border-width: .1vw;
  border-style: solid; */
}

.logo {
  height: 7vw;
  margin-right: 51vw;
  margin-top: 4vw;
}

.home-container,
.caseStudies-container,
.aboutMe-container,
.myResume-container
 {
  margin-right: 1vw;
  background-color: #FDECD5 ;
  padding: .6vw .8vw;
  font-size: 1.8vw;
  border-radius: 30px;
  color: #C6AC89;
  font-family: 'Alex Brush';
  border-width: 0;
  cursor: pointer;
}

.myResume-container{
  margin-right: 3vw;
}

.title {
  position: absolute;
  top: 5vw;
  left: 39vw;
  font-family: 'Fabrica';
  font-size: 4vw;
  color: #9c8363;
}


.slide_text{
  height: 100%;
  width: 60%;
  margin-top: 10vw;
  padding: 2vw 7vw;
  /* padding-top: 0vw; */
  font-size: 1vw;
  overflow-y: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  color: #000;
  /* background-color: #FDECD5;
  border: #9c8363;
  border-width: .5vw;
  border-style: solid;
  border-radius: 1vw; */
}


.nextStudy{
  position: absolute;
  bottom: 2vw;
  right: 9vw;
  z-index: 100;
  font-size: .8vw;
  font-family: 'Cambria';
  background-color: #9c8363;
  border: none;
  padding: .5vw 1vw;
  color: #FDECD5;
  border-radius: .2vw;
  opacity: 0.7;
  cursor: pointer;
}

.nextStudy:hover{
  opacity: 1;
}

.arrowNextStudy{
  width: 0vw; 
  height: 0vw; 
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-left: 1vw solid #9c8363;
  position: absolute;
  bottom: 2vw;
  right: 7vw;
  z-index: 100;
  border-radius: .2vw;
  opacity: 1;
}

.prevStudy{
  position: absolute;
  bottom: 2vw;
  left: 9vw;
  z-index: 100;
  font-size: .8vw;
  font-family: 'Cambria';
  background-color: #9c8363;
  border: none;
  padding: .5vw 1vw;
  color: #FDECD5;
  border-radius: .2vw;
  opacity: 0.7;
  cursor: pointer;
}

.prevStudy:hover{
  opacity: 1;
}

.arrowPrevStudy{
  width: 0vw; 
  height: 0vw; 
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
  border-right: 1vw solid #9c8363;
  position: absolute;
  bottom: 2vw;
  left: 7vw;
  z-index: 100;
  border-radius: .2vw;
  opacity: 1;
}