/* FONT IMPORTS */
@font-face {
  font-family: 'League Spartan';
  src: url(fonts/LeagueSpartan-Bold.otf);
}

@font-face {
  font-family: 'Playlist Script';
  src: url(fonts/Playlist\ Script.otf);
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url(fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url(fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: 'Cheque';
  src: url(fonts/Cheque-Regular.otf);
}

@font-face {
  font-family: 'Fabrica';
  src: url(fonts/Fabrica.otf);
}

@font-face {
  font-family: 'Alex Brush';
  src: url(fonts/AlexBrush-Regular.ttf);
}


/* General Styles */
*{
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FDECD5;
  /* background: linear-gradient(to bottom, #B0B4ED 20%, #3a3f7c 100%); */
  display: flex;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
}

/* Header Buttons */
.header{
  display: flex;
  flex-direction: row;
  height: 1.5vw;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: right;
  top: 0px;
  z-index: 10;
  position: absolute;
  background-color: #FDECD5;
  padding: 1.4vw 0px;
  /* border: #C6AC89;
  border-width: .1vw;
  border-style: solid; */
}

.home-container,
.caseStudies-container,
.aboutMe-container,
.myResume-container
 {
  margin-right: 1vw;
  background-color: #FDECD5 ;
  padding: .6vw .8vw;
  font-size: 1.8vw;
  border-radius: 30px;
  color: #C6AC89;
  font-family: 'Alex Brush';
  border-width: 0;
  cursor: pointer;
}

.myResume-container{
  margin-right: 3vw;
}

.title{
  position: absolute;
  font-size: 5vw;
  top: 5vw;
  font-family: 'Cheque';
  color: #EBA288;
  /* text-shadow: 7px 3px 3px #1b1847; */
}